<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternal trading</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/cb0f802460.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="tool-box">
        <h1 style="color: gold; font-size: 30px; text-align: center;margin-top: 15px;">Profile board</h1>
        <div class="profile-content">
            <div class="profile-info">
                <div class="info">
                    <h3>Full name:</h3> <p><%= users.fullName%></p>
                    <h3>Username:</h3> <p><%= users.userName %></p>
                    <h3>Email:</h3> <p><%= users.email %></p>
                    
                </div>
            </div>
<br><br>
            <button class="profile-btn">Edit profile<a href="#"></a></button>
        </div>
        
    </div>

    <div class="body-content">
        <div class="primary-header flex">
            <div class="logo"> <img src="/ASSETS/WHITE.png" alt="Logo" class="imgLogo"></div>

            <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                <span style="font-size:30px;cursor:pointer;" style="overflow: hidden;">☰</span>

            </button>

            <nav>
                <ul id="primary-navigation" data-visible='false' class="primary-navigation flex">
                    <li class="active pattern"><a href="/dashboard"><i class="fa fa-dashboard icons"></i></a>
                        Dashboard
                    </li>
                    <li class="pattern"><a href="#">
                        <span aria-hidden="true"></span><i class="fa fa-file-invoice icons"></i>Transactions</a>
                        <ul class="dropdown">
                            <li><a href="/plans"><i class="fa fa-donate icons"></i>Deposit</a></li>
                            <li><a href="/withdraw"><i class="fa fa-hand-holding-usd icons"></i>Withdraw</a></li>
                        </ul>
                    </li>
                    <li class="pattern"><a href="/profile">
                        <span aria-hidden="true"></span><i class="fa fa-user icons"></i>Profile</a>
                    </li>
                    <li class="pattern"><a href="/">
                        <span aria-hidden="true"></span><i class="fa fa-door-open icons"></i>Logout</a>
                    </li>
                </ul>
            </nav> 
        </div>
        <div class="team-area">
            <div class="single-team one">
                <div class="box">
                    <p>
                        <span>Total Deposit</span><br>
                        <span id="displayDeposit" style="color: #fff">$ <%= balance %></span>
                    </p>
                    <i class="fa fa-donate box-icon"></i>
                </div>
            </div>

            <div class="single-team two">
                <div class="box">
                        <p>
                            <span>Total Withdrawn</span> <br>
                            <span id="withdraw-primary" style="color: #fff">$ <%= withdraw %></span>
                        </p>
                        <i class="fa fa-hand-holding-usd box-icon"></i>
                </div>
            </div>

            <div class="single-team three">
                <div class="box">
                    <p>             
                        <span>Account Balance</span> <br>
                        <span id="balance-primary" style="color: #fff">$ <%= totalBalance %></span>
                    </p>
            
                    <i class="fa fa-shopping-bag box-icon"></i>
                </div>
                
            </div>

            <div class="single-team four">
                <div class="box">
                    <p>
                        <span>Active investments</span> <br>
                        <span id="activeInvestments" style="color: #fff">$ <%= activeInvestment%></span>
                    </p>
    
                    <i class="fa fa-tasks box-icon"></i>
                </div>
            </div>
        </div>  
        <br><br><br>

        <div class="head"style="background-color: #3b288f;padding: 20px 30px;">
            <span style="font-size:30px;cursor:pointer; color: gold ;" class="nav3"  >Transaction history</span>
        </div> <br>
        <!-- Deposit and withdraw -->
        
        
                <!-- Transaction History Section -->
                
        <div class="col-div-8">
            <div class="box-8" style=" padding-top: 20px; padding-left: 10px;">
              <div class="content-box">
                <!-- <p style="color: gold;">Transactions</p> -->
                <table id="transaction-history-table">
                    <thead>
                        <tr>
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                  <tbody id="transaction-history">
                    <!-- Transaction history rows will be added here using JavaScript -->
                    <% deposits.forEach(deposit => { %>
                        <tr>
                          <td><%= deposit.plan %></td>
                          <td><%= deposit.amount %></td>
                          <td><%= deposit.createdAt %></td>
                        </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </div>
    </div>


    <script>
        const primaryNav = document.querySelector(".primary-navigation");
        const navToggle =  document.querySelector(".mobile-nav-toggle");
    
        navToggle.addEventListener("click", () => {
            const visibility = primaryNav.getAttribute("data-visible");
    
            if(visibility === "false") {
                primaryNav.setAttribute("data-visible", true);
            } else if (visibility === "true"){
                primaryNav.setAttribute("data-visible", false);  
            }
        }) 
    </script>
</body>

<style>
    @import url('https://stackpath.bootstrapcdn.com-awesome/4.7.0/css-awesome.min.css');
    *{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;  
}

body, html {
    display: grid;
    grid-template-columns: 50% 150%;
   /* width: 100%;*/
   font-family: system-ui;
    height: 100%;
    position: relative;
}

/*student profile*/

.tool-box {
    background-color: #3b288f;
    max-height: 100%;
    overflow: auto;

	position: static;
    /*display: grid;*/
    /*grid-gap: 5px;*/
    padding: 10px;
    color: white;
}

.profile-content {
   /* transform: translateY(-20%);*/
    display: grid;
    grid-gap: 10px;
	margin-top: 30%;
}

.profile-info{
    /*transform: translateY(-10%);*/
}

.info{
    display: grid;
    grid-template-columns:auto;
    grid-gap: 15px;
    justify-content:left;
    padding-left:10px;
}

.info>p{
    font-size: 20px;
    padding-bottom:5px;
}

.profile-btn {
    background-color: rgb(143, 143, 202);
    border: none;
    /*border-radius: 50px;*/
    margin: 15px;
    padding: 15px;
    font-weight:600;
    font-size: 15px;
   /* font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    color: snow;
}

.profile-btn:hover{
    background-color: rgb(117, 92, 207);
}

/* for the nav bar*/
a {
    color: #3b288f;
    text-decoration: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-header {
    /*align-items: center;*/
    justify-content: space-between;
    background-color:#3b288f;
	border-bottom: #3b288f solid 3px;
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    align-self: center;
    padding-left:2vh;
    margin: 0;
    /*text-transform: uppercase;*/
    font-weight: 50;
    color: gold;
}

.imgLogo {
    width: 10rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: brightness(0) invert(1);
    /* border: 2px solid #fff; */
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: space-around;
   /* margin: 20px;*/
    font-weight: 500;
    color: rgb(248, 150, 2);
    /*max-height: 50%;*/

    background: hsl (0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>[aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}


.primary-navigation li ul.dropdown li {
    display: block
}

.primary-navigation li ul.dropdown {
    width: 30%;
    background-color:#3b288f;
    position: absolute;
    z-index: 999;
    display: none;
    padding-left: 2vw;
    padding-bottom: 2vw;
}

.primary-navigation li:hover ul.dropdown{
    display: block;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl (0 0% 100% / 1);
        backdrop-filter: blur(0.1rem);
    }


}

nav {
    padding: 2vw;
    font-size: 1.5vw;

}

nav a {
    color: #fff;
}

/* handling body content*/
.body-content {
    background-color:lavender;
}

.active {
    background-color: darkslateblue;
    padding: 5px;
}

.pattern:hover {
    box-shadow: 0 -5px 0px white inset,
    200px 0 0 rgba(255, 255, 255, 0.03) inset;
    padding: 25px 15px 20px 15px;
}

.team-area {
    display: grid;
    grid-template-columns: 5fr 5fr;
   /* grid-template-rows: 30px 30px;*/
    grid-auto-rows: 50px, auto;
    grid-gap:15px;
    justify-content: center;

   /* border: black, 20px, solid;*/
    padding: 20px;
    margin: 15px;
}

.single-team {
    background-color: #3b288f;
    box-shadow: black;
    padding: 4vh;
    margin: 2vh;
}

/*.one, .two, .three, .four {
    width: 100%;
    height: 100%;
}*/

.team-text > p {
    font-size: 4vh;
    color:gold;
    font-weight: 200;
}

.col-div-8{
	width: 100%;
	float: left;
    /* height: 0%;
    border: 2px solid gold; */
}

.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
/*.box{
	width: 85%;
	height: 100px;
	background-color: #3b288f;
	margin-left: 10px;
	padding:10px;
}*/
.box p{
	/*font-size: 35px;*/
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 500;
	color: gold;
}
.box-icon{
	font-size: 30px!important;
    float: right;
    margin-top: 35px!important;
    color: gold;
    padding-right: 10px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #3b288f;
	height: 100%;
    padding-left:20px ;
   /* border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;*/
	
}

.box-8{
	margin-left: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  
}
tr:nth-child(even) {
    background-color:#7d66e0;
			/*text-decoration: #3b288f;*/
}

td:nth-child(3) { /* Target the date column */
    max-width: 30px; /* Set a maximum width */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

.head{
    margin: 4vh;
	color: gold;
    width: 95%;
    text-align: center;
}

@media (min-width:320px) and (max-width: 768px) {

    body, html {
        max-width: 100%;
        max-height: 100%;
       display: grid;
        grid-template-columns: auto;
        position: relative;
        /*overflow-x: hidden;*/
        background-position: center;
        background-size: cover;
    }

    body::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }


    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: #3b288f;
        /*backdrop-filter: blur(5rem);*/

        transform: translateX(100%);


    }

    /*dropdown menu*/
    .primary-navigation li ul.dropdown {
        width: 70%;
        height: 10%;
        background-color:#8971f3;
        position: absolute;
        z-index: 999;
        display: none;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }

    .primary-navigation li ul.dropdown li{
        padding: 5%;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background-color: transparent;
        border: teal;
        color: #fff;
        background-image: url("https://www.flaticon.com/premium-icon/navigation_2811759");
       width: 4rem;
        height: 2rem;

        aspect-ratio: 3;
        top: 1rem;
        right: 2rem;
    }

    nav li {
        font-size: 5vw;
        padding: 0;
    }

    nav {
        padding: 2vw;
        font-size: 1.5vh;

    }
    .tool-box {
        display: none;
    }

    .team-area {
        display: grid;
        grid-template-columns: auto;
    /* grid-template-rows: 30px 30px;*/
        grid-auto-rows: auto;
        grid-gap:25px;
        justify-content: center;
       /* width: 100%;*/
       /* height: 100%;*/
        padding: 20px;
        margin: 5px;
    }

    .single-team {
        background-color: #3b288f;
        /*box-shadow: black;
        border: black, 5px, solid;*/
        padding: 15px;
        /*margin: 15px;*/  
        width: 100%;
    }

    .logo {
        align-self: center;
        padding-left:1vh;
        font-size: px;
        margin: 0;
        /*text-transform: uppercase;*/
        /*font-weight: 50;*/
        color: gold;
    }

    .imgLogo {
        width: 9rem;
        padding: 30px 0;
    }

    .body-content {
        background-color:lavender;
        width: 100%;
        height: 100%;
    }

    .flex {
        display: flex;
        gap: var(--gap, 1rem);
    }

    .primary-header {
        /*align-items: center;*/
        justify-content: space-around;
        background-color:#3b288f;
    }
    /*.one, .two, .three, .four {
    width: 100%;
    height: 100%;
    }*/

    .col-div-8{
        width: 100%;
        float: left;
        /* height: 0%;
        border: 2px solid gold; */
    }

    .content-box{
        padding: 20px;
    }
    .content-box p{
        margin: 0px;
        font-size: 20px;
        color: #f7403b;
    }
    .content-box p span{
        float: right;
        background-color: #ddd;
        padding: 3px 10px;
        font-size: 15px;
    }
    /*.box{
        width: 85%;
        height: 100px;
        background-color: #3b288f;
        margin-left: 10px;
        padding:10px;
    }*/
    .box p{
       /* font-size: 35px;*/
        color: #fff;
        font-weight: bold;
        line-height: 30px;
        padding-left: 10px;
        margin-top: 20px;
        display: inline-block;
    }
    .box p span{
        font-size: 20px;
        font-weight: 500;
        color: gold;
    }
    .box-icon{
        font-size: 30px!important;
        float: right;
        margin-top: 35px!important;
        color: gold;
        padding-right: 10px;
    }
    .box-8, .box-4{
        width: 90%;
        background-color: #3b288f;
        height: 100%;
        padding-left:20px ;
    /* border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;*/
        
    }

    .box-8{
        margin-left: 30px;
    }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    }
    td, th {
    text-align: left;
    padding:15px;
    color: #ddd;
    
    }
    tr:nth-child(even) {
        background-color:#7d66e0;
                /*text-decoration: #3b288f;*/
    }

    td:nth-child(3) { /* Target the date column */
        min-width: 210px; /* Set a maximum width */
        overflow: hidden; /* Hide overflowing content */
        white-space: nowrap; /* Prevent line breaks */
        text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
    }

    .head{
        margin: 4vh;
        color: gold;
        width: 90%;
        text-align: center;
    }

}    
</style>
</html>