<!Doctype HTML>
	<html>
	<head>
		<title>Eternal Trading</title> 
		<link rel="stylesheet" href="/home.css" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/cb0f802460.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>


	<body>
		<!-- <div class="user-dashboard"> -->
		<div id="mySidenav" class="sidenav">
		<!-- <p class="logo"><span>E</span>ternal Trading</p> -->
        <!-- <img src="../ASSETS/WHITE.png" alt="Logo" class="imgLogo"> -->
		<div class="close-button" id="closeBtn" style="visibility: hidden;">&times;</div>
	  <a href="/dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i>   Dashboard</a>
	  <!-- <a href="#"class="icon-a"><i class="fa fa-file-invoice icons"></i>   Transactions</a> -->
	  <a href="/plans"class="icon-a"><i class="fa fa-donate icons"></i>   Deposit</a>
	  <a href="/withdraw"class="icon-a"><i class="fa fa-hand-holding-usd icons"></i>   Withdraw</a>
	  <a href="/profile"class="icon-a"><i class="fa fa-user icons"></i>   Profile</a>
	  <a href="#"class="icon-a" id="logoutBtn"><i class="fa fa-door-open icons"></i>   Logout</a>

	</div>
	<div id="main" >

		<div class="head" style="background: #3b288f;">
			<div class="col-div-6" >
				<span style="font-size:30px;cursor:pointer;" class="nav" style="overflow: hidden;" >☰ Dashboard </span>
				<span style="font-size:30px;cursor:pointer;" class="nav2"  >☰ Dashboard</span>
			</div>
		
		<!-- <div class="col-div-61" style="color: black;"> -->
            <!-- <img src="../ASSETS/BLACK.png" alt="Logo" class="imgLogo">  -->
		<!-- <div class="profile">

			<img src="images/user.png" class="pro-img" />
			<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
		</div> -->
	<!-- </div> -->
		<div class="clearfix"></div>
	</div>

		<div class="clearfix"></div>
		<br/>
	<div class="container" style="padding-left: 40px;padding-top: 20px;" >
		<div class="col-div-3">
			<div class="box">

				<p style="font-size: 30px;">$<span id="displayDeposit" style="color: #fff;font-size: 30px;"><%= balance %></span>

                    <br/><span>Deposits</span></p>
				<i class="fa fa-donate box-icon"></i>
			</div> 
		</div>
		<div class="col-div-3">
			<div a class="box">
				<p style="font-size: 45px;">$<span id="withdraw-primary" style="color: #fff;font-size: 45px;"><%= withdraw %></span>
					<br/><span>Withdrawals</span></p>
				<i class="fa fa-hand-holding-usd box-icon"></i>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">

				<p style="font-size: 30px;">$<span id="balance-primary" style="color: #fff;font-size: 30px;"><%= totalBalance %></span>

                    <br/><span>Balance</span></p>
		
				<i class="fa fa-shopping-bag box-icon"></i>
			</div>
		</div> 
		<div class="col-div-3">
			<div class="box">

				<p style="font-size: 30px;">$<span id="activeInvestments" style="color: #fff;font-size: 30px;"><%= roi %></span>
                    <br/><span>Active investments</span></p>

				<i class="fa fa-tasks box-icon"></i>
			</div>
		</div> 
		
		<div style="background-color: #007bff;">

		</div>
		<!-- Deposit and withdraw -->
       	    
<!-- Deposit and withdraw -->
    
        
    
		<div class="clearfix"></div>
		  </div>
<!-- Deposit and withdraw -->
	<div class="ref" style="display:flex;">
	<div class="head"style="background-color: #3b288f;padding: 20px 20px;display: none;">
		<span style="font-size:30px;cursor:pointer; color: gold ;" class="nav3"  >Deposit & Withdrawal</span>
	</div>  

	<div class="container" style="display: flex;padding: 0px 0px;justify-content: space-between;justify-content: space-around;">

<!-- Withdrawal Form -->
<div class="bg-blue-100 rounded p-8" style="width: 450px;justify-self: center;padding: 0px;">
	<!-- ref link -->
	<div class="container" style="display: flex;align-items: center;">
		<h6>Referral link:</h6>
		<a href="https://www.eternaltrading.com?ref=12345" id="affiliateLink">https://www.eternaltrading.com?ref=12345</a>
		<button id="copyButton">Copy</button>
		<span id="copyStatus"></span>

		<style>
			/* .container {
			  display: flex;
			  align-items: center;
			} */
		  
			#affiliateLink {
			  text-decoration: none;
			  color: #007bff;
			  margin-right: 10px;
			}
		  
			#copyButton {
			  cursor: pointer;
			}
		  </style>

		<script>
			document.getElementById("copyButton").addEventListener("click", function() {
			var affiliateLink = document.getElementById("affiliateLink");
			var copyStatus = document.getElementById("copyStatus");
			
			// Create a temporary input element to copy the link
			var tempInput = document.createElement("input");
			tempInput.value = affiliateLink.href;
			document.body.appendChild(tempInput);
			tempInput.select();
			document.execCommand("copy");
			document.body.removeChild(tempInput);
			
			// Change the copy icon to a checkmark for a short while
			copyStatus.innerText = "Copied!";
			setTimeout(function() {
				copyStatus.innerText = "";
			}, 2000); // Display "Copied!" for 2 seconds
			});
		</script>

	  </div>
	<!-- ref link -->
    <!-- <h4 class="text-2xl mb-4">Withdraw</h4>
    <div style="justify-content: left; justify-items: left; text-align: left;">
        <p><strong>Instructions:</strong> Paste your wallet address below and input your desired amount to be withdrawn. Your withdrawal will be approved upon request but might take between 0-6 hours to reflect in your wallet.</p>
    </div>
    <br> <br> -->
    <!-- <form id="withdrawal-form" onsubmit="handleWithdrawalSubmission(); return false;">
		<div style="justify-content: left; justify-items: left; text-align: left;">
			<h4>*<strong>Wallet address:</strong> <input id="wallet-address" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="Your wallet address"></h4>
			<h4>*<strong>The amount:</strong> <input id="withdrawal-amount" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="The withdrawal amount"></h4>
		</div>
		<button id="withdraw-button" class="bg-red-700 text-white px-4 rounded font-medium py-2" type="submit">Withdraw</button>
	</form> -->
</div> </div> </div>

<div class="head"style="background-color: #3b288f;padding: 20px 20px;">
	<span style="font-size:30px;cursor:pointer; color: gold ;" class="nav3"  >Transaction history</span>
</div> <br>
<!-- Deposit and withdraw -->


		<!-- Transaction History Section -->
		
<div class="col-div-8">
	<div class="box-8" style=" padding-top: 20px; padding-left: 20px;">
	  <div class="content-box">
		<!-- <p style="color: gold;">Transactions</p> -->
		<table id="transaction-history-table">
			<thead>
				<tr>
				  <th>Type</th>
				  <th>Amount</th>
				  <th>Date</th>
				</tr>
			  </thead>
		  <tbody id="transaction-history">
			<!-- Transaction history rows will be added here using JavaScript -->
			<% deposits.forEach(deposit => { %>
				<tr>
				  <td><%= deposit.plan %></td>
				  <td><%= deposit.amount %></td>
				  <td><%= deposit.createdAt %></td>
				</tr>
			  <% }); %>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
  <div id="overlay"></div>
</div>

    <style>
		@import url('https://stackpath.bootstrapcdn.com-awesome/4.7.0/css-awesome.min.css');
        body{
	margin:0px;
	padding: 0px;
	background-color:whitesmoke;
	overflow: scroll;
	font-family: system-ui;
    height: 100%;
    position: relative;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.imglogo{
    float: right;
    justify-self: right;
}

.head{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3b288f;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 0px 32px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  /* color: #f1f1f1; */
  background-color: whitesmoke; 
  color: black;  
  border-top-left-radius: 60px;
    /* border-top-right-radius: 30px; */
    
    border-bottom-left-radius: 60px;
    /* border-bottom-right-radius: 30px; */
}
.sidenav{
  /* position: absolute; */
  top: 0;
  right: 25px;
  font-size: 36px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  
}
.head{
	padding:20px;
	color: gold;
}
.col-div-6{
	width: 50%;
	float: left;
    /* border: 2px solid gold; */
}
.col-div-61{
	width: 30%;
	float: right;
    /* border: 2px solid gold; */
    justify-content: right;
    justify-self: right;
    align-items: right;
    align-content: right;
    align-self: right;
    justify-items: right;
    padding-left: 70px;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 50%;
	float: left;
    margin-bottom: 20px;
    /* background: #3b288f; */
}
.col-div-3 p{
    color: black;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #3b288f;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 500;
	color: gold;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: gold;
    padding-right: 10px;
}
.col-div-8{
	width: 100%;
	float: left;
    /* height: 0%;
    border: 2px solid gold; */
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #3b288f;
	height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  
}
tr:nth-child(even) {
            background-color:#7d66e0;
			/*text-decoration: #3b288f;*/
        }

        td:nth-child(3) { /* Target the date column */
            max-width: 20px; /* Set a maximum width */
            overflow: hidden; /* Hide overflowing content */
            white-space: nowrap; /* Prevent line breaks */
            text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
        }
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
  
        .copy-container {
            display: flex;
            align-items: center;
        }
        .copy-button {
            background: none;
            border: none;
            cursor: pointer;
        }
        .copy-button i::before {
            content: "\f0c5"; /* Clipboard icon (Font Awesome) */
        }
        .copied::before {
            content: "\f00c"; /* Checkmark icon (Font Awesome) */
        }

		.blurred {
    filter: blur(5px); /* Adjust the blur amount as needed */
    transition: filter 0.5s;
}

#mySideNav,
.icon-a,
.icons,
.logo {
    transition: visibility 0.5s; /* Add visibility transition */
}

.overlay-effect .logo,
.overlay-effect .icons,
.overlay-effect .nav2 .icon-a {
    visibility: hidden;
}


.close-button{
	/* border: 2px solid gold; */
	justify-content: center;
	padding-left: 45%;
	color: white;
	font-size: 40px;
}

@media screen and (max-width: 1200px) {
	
		.container{
			display: block;
			 /*border: 4px solid black;*/
			/* padding-left: 110px;
			margin-left: 0px; */
			width: 100%;
			height: 150%;
			display: flex;
			align-self:center;
			flex-direction: column;
			padding-right: 30px;
		

		}

		.col-div-3{
			display: block;
			width: 100%;
			height: 100%;
			 /*border: 4px solid black; */
			padding: 0px;
			padding-right: 20px;
			margin-top: 20px;
			margin-right: 20px;
			padding-top: 20px;
			padding-bottom: 20px;
		}


		.box{
			/*border: 4px solid gold;*/
			width: 100%;
			height: 100px;
			
		}

		.sidenav{
			width: 400px;
			height: 100%;
		}

		#main {
			transition: margin-left 0.5s;
			padding: 16px;
		}

	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(0); /* Initial blur value */
		pointer-events: none; /* Allow clicks to pass through the overlay */
		transition: backdrop-filter 0.5s;
	}

	.overlay-effect #overlay {
		backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
	}

	.blurred {
		filter: blur(5px); /* Adjust the blur amount as needed */
		transition: filter 0.5s;
	}

	#mySideNav,
	.icon-a,
	.icons,
	.logo {
		transition: visibility 0.5s; /* Add visibility transition */
	}

	.overlay-effect .logo,
	.overlay-effect .icons,
	.overlay-effect .nav2 .icon-a {
		visibility: hidden;
	}


	.close-button{
		/* border: 2px solid gold; */
		justify-content: center;
		padding-left: 45%;
		color: white;
		font-size: 40px;
	}

			/* .ref{
				padding-right: 40px;
			} */

			/* .head{
				border: 4px solid gold;
			} */

			/* .bg-blue-100{
				padding-right: 20px;
				padding-left: 20px;
				/* border: 5px solid yellow; */
		
	}
    

    </style>
	<script src="/JAVASCRIPT/user.js"></script>
	<!-- <script src="/JAVASCRIPT/userbasic.js"></script> -->
	<!-- <script src="/JAVASCRIPT/usermerger.js"></script> -->
	<script src="/JAVASCRIPT/userwithdrawal.js"></script>
<script>


</script>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
$(document).ready(function() {
    $("#mySidenav").css('width', '70px'); 
    $("#main").css('margin-left', '70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
    $(".logo span").css('margin-left', '-10px');
    $(".icon-a").css('visibility', 'hidden');
    $(".icons").css('visibility', 'visible');
    $(".icons").css('margin-left', '-8px');
    $(".nav").css('display', 'none');
    $(".nav2").css('display', 'block');


	$("#logoutBtn").click(function() {
        // Code to clear out cookies on a site if we need it
        
        // Redirect to the login page
        window.location.href = "fidelity/views/login.ejs"; // Abeg put the login url for here. 
    });


	var isSidebarOpen = false;

    // Function to toggle the sidebar state
    function toggleSidebar() {
        isSidebarOpen = !isSidebarOpen;

        if (isSidebarOpen) {
            // If the sidebar is open, apply blur effect
            $("#mySidenav").css('width', '200px');
            $("#main").addClass('blurred');
            $("#overlay").addClass('blurred');
            $(".icon-a").css('visibility', 'visible'); // Show the icon when sidebar is open
			$("#closeBtn").css('visibility', 'visible');
        } else {
            // If the sidebar is closed, remove blur effect
            $("#mySidenav").css('width', '70px');
            $("#main").removeClass('blurred');
            $("#overlay").removeClass('blurred');
            $(".icon-a").css('visibility', 'hidden'); // Hide the icon when sidebar is closed
			$("#closeBtn").css('visibility', 'hidden');
        }

        $(".nav, .nav2").toggle();
        $(".logo, .icons").css('visibility', isSidebarOpen ? 'visible' : 'visible');
		
    }

    $(".nav2").click(toggleSidebar);

    // Handle click on the close button
    $("#closeBtn").click(function() {
        if (isSidebarOpen) {
            toggleSidebar();
        }
    });
});



	  $(".nav").click(function(){
	    $("#mySidenav").css('width','70px');
	    $("#main").css('margin-left','70px');
	    $(".logo").css('visibility', 'hidden');
	    $(".logo span").css('visibility', 'visible');
	     $(".logo span").css('margin-left', '-10px');
	     $(".icon-a").css('visibility', 'hidden');
	     $(".icons").css('visibility', 'visible');
	     $(".icons").css('margin-left', '-8px');
	      $(".nav").css('display','none');
	      $(".nav2").css('display','block');
	  });

	$(".nav2").click(function(){
	    // $("#mySidenav").css('width','200px');
	    // $("#main").css('margin-left','200px');
	    // $(".logo").css('visibility', 'visible');
	    //  $(".icon-a").css('visibility', 'visible');
	    //  $(".icons").css('visibility', 'visible');
	    //  $(".nav").css('display','block');
	    //   $(".nav2").css('display','none');
		//   $(".logo, .icon-a, .icons").css('display', 'inline-block');

			// var isOpen = $("#mySidenav").css('width') === '200px';

			// if (isOpen) {
			// 	// If the sidebar is open, close it
			// 	$("#mySidenav").css('width','70px');
			// } else {
			// 	// If the sidebar is closed, open it
			// 	$("#mySidenav").css('width','200px');
			// }

			// $("#main").toggleClass('blurred');
			// $("#overlay").toggleClass('blurred');
			$(".nav").toggle();
			$(".nav2").toggle();
			// $(".logo").css('visibility', isOpen ? 'hidden' : 'visible');
			// $(".icon-a").css('visibility', 'visible');
			// $(".icons").css('visibility', 'visible');
    });

	</script>
	<!-- <script src="script.js"></script> -->
	  
	<script>
        // window.onload = function() {
		// 			// Function to handle authentication status and redirect to the login page
		// 	function handleAuthenticationStatus(response) {
		// 		if (response.status === 401) {
		// 			// Authentication required, redirect to login page
		// 			window.location.href = '/login';
		// 		} else {
		// 			// Handle other cases or continue with the normal flow
		// 			var depositData = localStorage.getItem('depositData');
		// 			if (depositData) {
		// 				document.getElementById('displayDeposit').textContent = depositData;
		// 			}
		// 		}
		// 	}	
        // };

				// Make a request to the server to check authentication status
		// fetch('/check-authentication-status') // Adjust the endpoint based on your server setup
		// 	.then(response => response.json())
		// 	.then(data => {
		// 		// Handle the authentication status
		// 		handleAuthenticationStatus(data);
		// 	})
		// 	.catch(error => {
		// 		console.error('Error:', error);
		// 	});
	</script>
    
</body>
</html>